---
---

$link: #1768f5;
$hover: #f51b47;

// increasing order
$gray1: #efefef;
$gray2: #e0e0e0;
$gray3: #bbb;
$gray2: #aaa;

$logo: '/public/img/logo.svg';
$logoInvr: '/public/img/logo-sidebar-invr.png';
$pat: '/public/img/pat.png';
$banner: '/public/img/banner.png';
$cloud1: '/public/img/cloud-above.png';
$could2: '/public/img/cloud-below.png';

@mixin userSelect($select) {
	-webkit-user-select: $select;
	-moz-user-select: $select;
	-ms-user-select: $select;
	user-select: $select;
}

.link {
	color: $link;
	&:hover {
		color: $hover;
	}
}

.anim {
	@include userSelect('none');
}