---
---

@import "_Poole";
@import "_Syntax";
@import "_Lanyon";

@import "fonts";
@import "variables";
@import "mixins";
@import "animations";
@import "common";
@import "overrides";

#main-content {
	@extend .twilight-grad;
	padding: 7rem 0;
	
	.logo {
		@include animation(logoUp 1000ms linear both 1300ms);
	}
	.name {
		@include animation(logoUp 1000ms linear both 1400ms);
	}
	.tagline {
		@include animation(logoUp 1000ms linear both 1500ms);
	}
	.elsewhere {
		@include animation(logoUp 1000ms linear both 1600ms);
	}
	.name,
	.tagline {
		font-family: 'Lato'; 
		font-weight: 300;
		color: rgba(0, 0, 0, 0.6);
		width: 247px;
	}
	.name {
		letter-spacing: 0.0366rem; 
		font-size: 2.5rem; 
		text-transform: uppercase;
		margin: 35px auto 0px;
	}
	.tagline {
		font-size: 1.154rem;
		white-space: nowrap;
		margin: 0 auto 8px auto;
	}
	.jump-down {
		padding: 35px 0 10px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 4;
	}
	.cloud-above,
	.cloud-below {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 106px;
		.item {
			width: 100%;
			height: 106px;
		}
	}
	.cloud-above {
		z-index: 3;
		@include animation(cloudUp 1000ms linear both 1200ms);
		.item {
			background: url($cloud1) 0 100% repeat-x;
			background-size: 1864px 106px;
			@include animation(cloudFrowardAnim 150s linear infinite);
		}
	}
	.cloud-below {
		z-index: 2;
		@include animation(cloudUp 1000ms linear both 1000ms);
		.item {
			background: url($cloud2) 0 100% repeat-x;
			background-size: 1864px 106px;
			@include animation(cloudBackwardAnim 160s linear infinite);
		}
	}
}
// @media (min-width: 30.1em) {
// 	#main-content {
// 		.cloud-above,
// 		.cloud-below {
// 			height: 106px;
// 			background-size: 1864px 106px;
// 		}
// 	}
// }

.home-content {
	text-align: center;
	padding: 2rem 0;
	.title {
		margin: 1rem 0 0;
		span {
			color: $iconColor;
			border: 1px solid $gray7;
			padding: 12px 10px 11px;
			border-radius: 35px;
			font-size: 18px;
		}
	}
	.part {
		padding: 3rem 0;
	}
}

/* about me */
.about-me {
	.part {
		img {
			display: inline-block;
		}
		h4 {
			font-size: 1.2rem;
			margin-top: 0;
		}
		small {
			display: block;
			color: rgba(0, 0, 0, 0.5);
		}
	}
	
}
@media (min-width: 56em) {
	.about-me {
		.part {
			text-align: left;
		}
		.part:not(.reverse) {
			img {
				float: left;
			}
			.aside {
				margin-left: 400px;
			}
		}
		.reverse {
			img {
				float: right;
			}
			.aside {
				margin-right: 400px;
			}
		}
	}
}


.works {
	position: relative;
	overflow: hidden;
	background: url($pat);
	.grad {
		@extend .summer-grad;
		position: relative;
		z-index: 3;
	}
	.bg-img {
		background: url($banner) center;
		background-size: cover;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0.2;
	}
	.title span {
		border: 1px solid #fff;
		color: #fff;
	}
	.home-content {
		position: relative;
		padding: 5rem 0;
		.next, .prev {
			font-size: 1.3rem;
			position: absolute;
			top: 15rem;
			color: rgba(236, 240, 241, 0.5);
			cursor: pointer;
			&:hover {
				color: rgba(255,255,255,0.95);
			}
		}
		.next {
			right: -3rem;
		}
		.prev {
			left: -3rem;
		}
	}
	.part {
		overflow: hidden;
		width: 100%;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		position: relative;
		#scroller {
			width: 920px;
			height: 100%;
			padding: 0;
			-webkit-user-select: none;
			cursor: -webkit-grab;
			&:active {
				cursor: -webkit-grabbing;
			}
		}
		ul {
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 5px;
			overflow: hidden;
		}
		li {
			float: left;
			width: 220px;
			margin: 0 5px;
			padding: 5px 5px 10px;
			background: #fff;
			border-radius: 3px;
			box-shadow: 0 0 5px rgba(0,0,0,0.1);
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		img {
			width: 220px;
			height: 150px;
			margin: 0;
			border-radius: 0;
		}
		span, small {
			display: block;
			line-height: 1;
			text-align: left;
		}
		span {
			font-size: 1rem;
			padding: 1rem 0 0.4rem 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		small {
			font-size: 0.7rem;
		}
	}
}
.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 9999;
	height: 4px;
	left: 5px;
	right: 5px;
	bottom: 2px;
	overflow: hidden;
}
.iScrollIndicator {
	position: absolute;
	background: rgba(0,0,0,0.2);
	height: 4px;
	border-radius: 2px;
}
@media (max-width: 30.1em) {
	.works .container {
		padding: 0;
	}
}


.home-content.contact {
	border-bottom: 1px solid $gray2;
	.title span {
		padding: 5px 5px 5px 3px;
	}
	.part h4 {
		font-size: 1.2rem;
		margin: 0 0 1rem;
	}
	.elsewhere {
		-webkit-user-select: none;
		@include transition("none");
		a {
			font-size: 2rem;
			color: #1768f5;
			margin: 0 8px;
			&:hover {
				color: #f51b47;
			}
		}
	}
}

.home-content.blog {
	padding: 4rem 0 2rem;
	.part {
		display: table;
		width: 100%;
		table-layout: fixed;
		&.next {
			padding: 0 0 3rem;
		}
	}
	.cell {
		display: table-cell;
		vertical-align: top;
		&:first-child {
			padding-right: 1rem;
		}
		&:last-child {
			padding-left: 1rem;
		}
	}
	.btitle {
		font-size: 1rem;
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.icon-folder {
		font-size: 0.7rem;
		color: $gray6;
	}
	p {
		font-size: 0.8rem;
		margin-bottom: 0.3rem;
	}
	.blog-link {
		display: inline-block;
		border: 1px solid;
		padding: 0 0.5rem;
		border-radius: 0.2rem;
		font-size: 0.7rem;
		line-height: 1.5rem;
		height: 1.55rem;
		text-transform: uppercase;
		text-decoration: none;
	}
}


.home-footer {
	background: #202020;
	.content {
		padding-top: 2rem;
		padding-bottom: 2rem;
		.foot-block {
			overflow: hidden;
			&:first-child {
				border-bottom: 1px solid #353535;
				margin-bottom: 0.5rem;
				padding-bottom: 0.5rem;
			}
			p {
				font-size: 0.8rem;
			}
			a {
				color: $flink;
				text-decoration: none;
				&:hover {
					color: $fhover;
				}
			}
		}
	}
	.links {
		display: table;
		width: 100%;
		table-layout: fixed;
		margin-top: 2rem;
		a {
			display: table-cell;
			text-align: center;
			font-size: 0.8rem;
		}
	}
	.copy {
		margin-bottom: 0.5rem;
		text-align: center;
	}
	.build {
		margin-bottom: 0;
		text-align: center;
	}
}
@media (min-width: 56em) {
	.home-footer {
		.logo {
			float: left;
		}
		.links {
			float: right;
			display: block;
			width: auto;
			margin-top: 0.7rem;
			a {
				display: inline-block;
				margin: 0 0.5rem;
				&:last-child {
					margin: 0 0 0 0.5rem;
				}
			}
		}
		.copy {
			float: left;
			margin-bottom: 0;
		}
		.build {
			display: block;
			text-align: right;
		}
	}
}



/*blooging*/
.post-excerpt {
	line-height: 1.7;
	margin-bottom: 0.7rem;
}

.post {
	.post-title {
		margin: 0 0 0.1rem;
	}
	.post-meta {
		font-size: 0.85rem;
		color: $gray4;
		time, span, a{
			padding-right: 0.5rem;
		}
		a {
			color: $gray4;
			&:hover {
				color: $hover;
				.icon-comment:before {
					text-decoration: none;
				}
			}
		}
		[class^="icon-"]:before,
		[class*=" icon-"]:before {
			margin-left: 0;
			width: auto;
		}
	}
	footer small {
		color: $gray3;
	}
	footer label:not(:last-child):after {
		content: ",";
	}
	ul ul {
		margin-bottom: 0.5rem;
	}
}

#disqus_thread {
	padding-bottom: 2rem;
}

.share-blog {
	display: table;
	width: 100%;
	border-bottom: 1px solid $gray1;
	padding: 0 0 0.7rem;
	margin: 0 0 0.7rem;
	li {
		display: table-cell;
		text-align: center;
		font-size: 0.9rem;
	}
	a:hover {
		text-decoration: none;
	}
	.only-lg {
		display: none;
	}
}
@media (min-width: 56em) {
	.share-blog {
		li {
			font-size: 0.85rem;
		}
		.only-lg {
			display: inline;
		}
	}
}
