---
---

@import "_Poole";
@import "_Syntax";
@import "_Lanyon";

@import "fonts";
@import "variables";
@import "mixins";
@import "common";
@import "overrides";

#main-content {
	@extend .twilight-grad;
	padding: 7rem 0;
	.name,
	.tagline {
		font-family: 'Lato'; 
		font-weight: 300;
		color: rgba(32, 32, 32, 0.6)
	}
	.name {
		letter-spacing: 0.6rem; 
		font-size: 2.5rem; 
		text-transform: uppercase;
		margin: 35px 0 0px;
		text-indent: 0.8rem;
	}
	.tagline {
		font-size: 1.3rem;
		margin: 0 0 10px 0;
	}
	.jump-down {
		padding: 35px 0 10px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 4;
	}
	.cloud-above,
	.cloud-below {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 52px;
	}
	.cloud-above {
		background: url($cloud1) 0 100% repeat-x;
		background-size: 923px 52px;
		z-index: 3;
		-webkit-animation: cloudFrowardAnim 60s linear infinite;
	}
	.cloud-below {
		background: url($cloud2) 0 100% repeat-x;
		background-size: 923px 52px;
		z-index: 2;
		-webkit-animation: cloudBackwardAnim 60s linear infinite;
	}
}
@media (min-width: 30.1em) {
	#main-content {
		.cloud-above,
		.cloud-below {
			height: 106px;
			background-size: 1864px 106px;
		}
	}
}

.home-content {
	text-align: center;
	padding: 2rem 0;
	.title {
		color: rgba(0,0,0,0.2);
		margin: 1rem 0 0;
		span {
			border: 1px solid rgba(0,0,0,0.2);
			padding: 4px 4px 6px;
			border-radius: 18px;
			font-size: 18px;
		}
	}
	.part {
		padding: 3rem 0;
	}
}

/* about me */
.about-me {
	.part {
		img {
			display: inline-block;
		}
		h4 {
			font-size: 1.2rem;
			margin-top: 0;
		}
		small {
			display: block;
			color: rgba(0, 0, 0, 0.5);
		}
	}
	
}
@media (min-width: 56em) {
	.about-me {
		.part {
			text-align: left;
		}
		.part:not(.reverse) {
			img {
				float: left;
			}
			.aside {
				margin-left: 400px;
			}
		}
		.reverse {
			img {
				float: right;
			}
			.aside {
				margin-right: 400px;
			}
		}
	}
}


.works {
	position: relative;
	overflow: hidden;
	background: url($pat);
	.grad {
		@extend .summer-grad;
		position: relative;
		z-index: 3;
	}
	.bg-img {
		background: url($banner) center;
		background-size: cover;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0.2;
	}
	.title span {
		border: 1px solid #fff;
		color: #fff;
	}
	.home-content {
		position: relative;
		padding: 5rem 0;
		.next, .prev {
			font-size: 1.3rem;
			position: absolute;
			top: 15rem;
			color: rgba(236, 240, 241, 0.5);
			cursor: pointer;
			&:hover {
				color: rgba(255,255,255,0.95);
			}
		}
		.next {
			right: -3rem;
		}
		.prev {
			left: -3rem;
		}
	}
	.part {
		overflow: hidden;
		width: 100%;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		position: relative;
		#scroller {
			width: 920px;
			height: 100%;
			padding: 0;
			-webkit-user-select: none;
			cursor: -webkit-grab;
			&:active {
				cursor: -webkit-grabbing;
			}
		}
		ul {
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 5px;
			overflow: hidden;
		}
		li {
			float: left;
			width: 220px;
			margin: 0 5px;
			padding: 5px 5px 10px;
			background: #ECF0F1;
			border-radius: 3px;
			box-shadow: 0 0 5px rgba(0,0,0,0.1);
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		img {
			width: 220px;
			height: 150px;
			margin: 0;
			border-radius: 0;
		}
		span, small {
			display: block;
			line-height: 1;
			text-align: left;
		}
		span {
			font-size: 1rem;
			padding: 1rem 0 0.4rem 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		small {
			font-size: 0.7rem;
		}
	}
}
.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 9999;
	height: 4px;
	left: 5px;
	right: 5px;
	bottom: 2px;
	overflow: hidden;
}
.iScrollIndicator {
	position: absolute;
	background: rgba(0,0,0,0.2);
	height: 4px;
	border-radius: 2px;
}



.contact {
	.title span {
		border: 1px solid rgba(0, 0, 0, 0.25);
		color: rgba(0, 0, 0, 0.25);
		padding: 5px 5px 5px 3px;
	}
	.part h4 {
		font-size: 1.2rem;
		margin: 0 0 1rem;
	}
	.elsewhere {
		-webkit-user-select: none;
		@include transition("none");
		a {
			font-size: 2rem;
			color: #1768f5;
			margin: 0 8px;
			&:hover {
				color: #f51b47;
			}
		}
	}
}


.home-footer {
	position: relative;
	background: url($pat) 0 0 #fff;
	.grad {
		@extend .twilight-grad;
	}
	.logo {
		display: inline-block;
		margin: 0 0 2rem;
		border-radius: 0;
		width: 180px;
		height: 122px
	}
	.abt-logo {
		font-size: 0.9rem;
		padding: 0;
	}
	.copy {
		font-size: 0.7rem;
	}
}
@media (min-width: 56em) {
	.home-footer {
		.abt-logo {
			padding: 0 7rem;
		}
	}
}



/*blooging*/
.post-excerpt {
	line-height: 1.7;
}

.post {
	.post-title {
		margin: 0 0 0.1rem;
	}
	.post-meta {
		font-size: 0.85rem;
		color: $gray4;
		time, span, a{
			padding-right: 0.5rem;
		}
		a {
			color: $gray4;
			&:hover {
				color: $hover;
				.icon-comment:before {
					text-decoration: none;
				}
			}
		}
		[class^="icon-"]:before,
		[class*=" icon-"]:before {
			margin-left: 0;
			width: auto;
		}
	}
	footer small {
		color: $gray3;
	}
	footer label:not(:last-child):after {
		content: ",";
	}
}