---
---

@font-face {
	font-family: 'fontello';
	src: url('/public/fonts/fontello.eot?81822791');
	src: url('/public/fonts/fontello.eot?81822791#iefix') format('embedded-opentype'),
		url('/public/fonts/fontello.woff?81822791') format('woff'),
		url('/public/fonts/fontello.ttf?81822791') format('truetype'),
		url('/public/fonts/fontello.svg?81822791#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	 
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
}
 
.icon-linkedin:before { content: '\e800'; } /* 'î €' */
.icon-github:before { content: '\e801'; } /* 'î ' */
.icon-twitter:before { content: '\e802'; } /* 'î ‚' */
.icon-dribbble:before { content: '\e803'; } /* 'î ƒ' */
.icon-menu:before { content: '\e804'; } /* 'î „' */
.icon-cancel:before { content: '\e805'; } /* 'î …' */
.icon-down:before { content: '\e806'; } /* 'î †' */
.icon-user:before { content: '\e807'; } /* 'î ‡' */
.icon-drbl:before { content: '\e808'; } /* 'î ˆ' */
.icon-gthb:before { content: '\e809'; } /* 'î ‰' */
.icon-contact:before { content: '\e80a'; } /* 'î Š' */
.icon-works:before { content: '\e80b'; } /* 'î ‹' */
.icon-blog:before { content: '\e80c'; } /* 'î Œ' */
.icon-calendar:before { content: '\e80d'; } /* 'î ' */
.icon-category:before { content: '\e80e'; } /* 'î Ž' */


/* svg container base styles */
.emu-table {
	width:100%; 
	height:100%;
	min-height: 100vh;
	display:table;
	position: relative;
	background: url(/public/img/pat.png) 0 0 #fff;
	> section {
		width:100%; 
		height:100%; 
		display:table-cell; 
		text-align:center; 
		vertical-align: middle;
		-webkit-transition: background 0.2s linear;
	}
}
	


/* svg components base style */
.triangle {
	stroke: #fff;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-opacity: 0.5;
	fill-opacity: 0.3;
	-webkit-transition: fill 0.1s linear;
}

.upper-v {
	fill-opacity: 1;
}

.lower-v {
	fill-opacity: 1;
}


@mixin transDelay($delay) {
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-ms-transition-delay: $delay;
	transition-delay: $delay;
}

/* svg animation delays */
.delay-1 { @include transDelay(0.05s); }
.delay-2 { @include transDelay(0.10s); }
.delay-3 { @include transDelay(0.15s); }
.delay-4 { @include transDelay(0.20s); }
.delay-5 { @include transDelay(0.25s); }
.delay-6 { @include transDelay(0.22s); }
.delay-7 { @include transDelay(0.24s); }
.delay-8 { @include transDelay(0.26s); }
.delay-9 { @include transDelay(0.28s); }
.delay-10 { @include transDelay(0.30s); }
.delay-11 { @include transDelay(0.32s); }
.delay-12 { @include transDelay(0.34s); }
.delay-13 { @include transDelay(0.36s); }
.delay-14 { @include transDelay(0.38s); }
.delay-15 { @include transDelay(0.40s); }
.delay-16 { @include transDelay(0.42s); }
.delay-17 { @include transDelay(0.44s); }
.delay-18 { @include transDelay(0.46s); }
.delay-19 { @include transDelay(0.48s); }
.delay-20 { @include transDelay(0.50s); }
.delay-21 { @include transDelay(0.52s); }
.delay-22 { @include transDelay(0.54s); }
.delay-23 { @include transDelay(0.56s); }
.delay-24 { @include transDelay(0.58s); }
.delay-25 { @include transDelay(0.60s); }


/* color set: turquoise-orange */
.turquoise-orange {
	background: rgba(243, 156, 18, 0.2);
	.triangle {
		fill: #1ABC9C;
	}
	.lower-v {
		fill: #16A085;
	}
}

/* color set: sunflower-turquoise */
.sunflower-turquoise {
	background: rgba(22, 160, 133, 0.1);
	.triangle {
		fill: #F1C40F;
	}
	.lower-v {
		fill: #F39C12;
	}
}


/* color set: emerald-pumpkin */
.emerald-pumpkin {
	background: rgba(211, 84, 0, 0.15);
	.triangle {
		fill: #2ECC71;
	}
	.lower-v {
		fill: #27AE60;
	}
}

/* color set: carrot-emrald */
.carrot-emrald {
	background: rgba(46, 204, 113, 0.1);
	.triangle {
		fill: #E67E22;
	}
	.lower-v {
		fill: #D35400;
	}
}


/* color set: peter-river pomegranate */
.peterriver-pomegranate {
	background: rgba(211, 84, 0, 0.15);
	.triangle {
		fill: #3498DB;
	}
	.lower-v {
		fill: #2980B9;
	}
}

/* color set: alizarin-peter-river */
.alizarin-peterriver {
	background: rgba(52, 152, 219, 0.1);
	.triangle {
		fill: #E74C3C;
	}
	.lower-v {
		fill: #C0392B;
	}
}



/* color set: wetasphalt-wisteria */
.wetasphalt-wisteria {
	background: rgba(142, 68, 173, 0.1);
	.triangle {
		fill: #34495E;
	}
	.lower-v {
		fill: #2C3E50;
	}
}

/* color set: amethyst-midnightblue */
.amethyst-midnightblue {
	background: rgba(44, 62, 80, 0.1);
	.triangle {
		fill: #9B59B6;
	}
	.lower-v {
		fill: #8E44AD;
	}
	&#main-content .name {
		color: rgba(44, 62, 80, 0.4);
	}
}


/* specific styling for main logo */
#main-content {
	svg {
		overflow: visible;
		width: 140px; 
		height: 162px;
	}
	h1,
	p {
		font-family: 'Lato'; 
		font-weight: 300; 
	}
	.name {
		color: rgba(0, 0, 0, 0.35); 
		letter-spacing: 10px; 
		font-size: 2.5rem; 
		text-transform: uppercase;
		margin: 35px 0 0px;
	}
	p {
		color: rgba(0, 0, 0, 0.4);
		font-size: 1.3rem;
		word-spacing: 3px;
		margin: 0 0 10px 0;
	}
	.elsewhere {
		-webkit-user-select: none;
		a {
			text-decoration: none;
			display: inline-block;
			cursor: pointer;
			font-size: 1.3rem;
			color: rgba(32, 32, 32, 0.2);
			margin: 0 8px;
			&:hover {
				color: rgba(32, 32, 32, 0.4);
			}
		}
	}
	.jump-down {
		padding: 35px 0 10px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}


/* overrides */
.sidebar-toggle {
	background: transparent;
}