---
---

@font-face {
	font-family: 'fontello';
	src: url('/public/fonts/fontello.eot?81822791');
	src: url('/public/fonts/fontello.eot?81822791#iefix') format('embedded-opentype'),
		url('/public/fonts/fontello.woff?81822791') format('woff'),
		url('/public/fonts/fontello.ttf?81822791') format('truetype'),
		url('/public/fonts/fontello.svg?81822791#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	 
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
}
 
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-dribbble:before { content: '\e803'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-down:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-contact:before { content: '\e80a'; } /* '' */
.icon-works:before { content: '\e80b'; } /* '' */
.icon-blog:before { content: '\e80c'; } /* '' */
.icon-calendar:before { content: '\e80d'; } /* '' */
.icon-category:before { content: '\e80e'; } /* '' */
.icon-left:before { content: '\e80f'; } /* '' */
.icon-right:before { content: '\e810'; } /* '' */

a {
	color: #3498DB;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out;
	&:hover {
		color: #E74C3C;
	}
}

.emu-table {
	width:100%; 
	height:100%;
	min-height: 100vh;
	display:table;
	position: relative;
	background: url(/public/img/pat.png) 0 0 #fff;
	> section {
		width:100%; 
		height:100%; 
		display:table-cell; 
		text-align:center; 
		vertical-align: middle;
		-webkit-transition: background 0.2s linear;
	}
}

.elsewhere {
	-webkit-user-select: none;
	a, span {
		display: inline-block;
		font-size: 1.3rem;
		color: rgba(32, 32, 32, 0.2);
		margin: 0 8px;
	}
	a {
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: rgba(32, 32, 32, 0.4);
		}
	}
}


@mixin transDelay($delay) {
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-ms-transition-delay: $delay;
	transition-delay: $delay;
}

/* overrides */
.sidebar-toggle {
	background: transparent;
	z-index: 10;
}

.sidebar {
	background: rgba(32, 32, 32, 0.95);
}

.sidebar-toggle,
.sidebar {
	-webkit-transition: all .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: all .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}


.masthead {
	padding: 0;
	background: url(/public/img/pat.png) 0 0 white;
	border-bottom: 1px solid #BDC3C7;
	.grad {
		padding: 1rem 0;
		background: -moz-linear-gradient(-45deg, rgba(26,188,156,0.3) 0%, rgba(241,196,15,0.3) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(26,188,156,0.3)), color-stop(100%,rgba(241,196,15,0.3))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg, rgba(26,188,156,0.3) 0%,rgba(241,196,15,0.3) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg, rgba(26,188,156,0.3) 0%,rgba(241,196,15,0.3) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg, rgba(26,188,156,0.3) 0%,rgba(241,196,15,0.3) 100%); /* IE10+ */
		background: linear-gradient(135deg, rgba(26,188,156,0.3) 0%,rgba(241,196,15,0.3) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d1abc9c', endColorstr='#4df1c40f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.logo {
		float: left;
		margin: 0 10px 0 0;
		overflow: hidden;
		img {
			float: left;
			height: 30px;
			border-radius: 0;
		}
	}
	.masthead-title a {
		font-family: lato;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	.masthead-title small {
		color: rgba(0, 0, 0, 0.3);
	}
}
@media (min-width: 56em) {
	.masthead .masthead-title a {
		letter-spacing: 0;
	}
}


/* specific styling for main logo */
#main-content {
	padding: 7rem 0;
	background: -moz-linear-gradient(top, rgba(30,87,153,0.3) 0%, rgba(231,76,60,0.2) 75%, rgba(231,76,60,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0.3)), color-stop(75%,rgba(231,76,60,0.2)), color-stop(100%,rgba(231,76,60,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,0.3) 0%,rgba(231,76,60,0.2) 75%,rgba(231,76,60,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,0.3) 0%,rgba(231,76,60,0.2) 75%,rgba(231,76,60,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,0.3) 0%,rgba(231,76,60,0.2) 75%,rgba(231,76,60,0.25) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,0.3) 0%,rgba(231,76,60,0.2) 75%,rgba(231,76,60,0.25) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e5799', endColorstr='#40e74c3c',GradientType=0 ); /* IE6-9 */
	img {
		display: inline-block;
		margin: 0;
		border-radius: 0;
		width: 180px;
		height: 122px;
	}
	h1,
	p {
		font-family: 'Lato'; 
		font-weight: 300; 
	}
	.name {
		color: rgba(0, 0, 0, 0.5); 
		letter-spacing: 10px; 
		font-size: 2.5rem; 
		text-transform: uppercase;
		margin: 35px 0 0px;
	}
	p {
		color: rgba(0, 0, 0, 0.4);
		font-size: 1.3rem;
		word-spacing: 3px;
		margin: 0 0 10px 0;
	}
	.jump-down {
		padding: 35px 0 10px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 4;
	}
	.cloud-above,
	.cloud-below {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 106px;
	}
	.cloud-above {
		background: url(/public/img/cloud-above.png) 0 0;
		z-index: 3;
		-webkit-animation: cloudFrowardAnim 200s linear infinite;
	}
	.cloud-below {
		background: url(/public/img/cloud-below.png) 0 0;
		z-index: 2;
		-webkit-animation: cloudBackwardAnim 200s linear infinite;
	}
}


.home-content {
	text-align: center;
	padding: 2rem 0;
	.title {
		color: rgba(0,0,0,0.2);
		margin: 1rem 0 0;
		span {
			border: 1px solid rgba(0,0,0,0.2);
			padding: 4px 4px 6px;
			border-radius: 18px;
			font-size: 18px;
		}
	}
	.part {
		padding: 3rem 0;
	}
}

/* about me */
.about-me {
	.part {
		img {
			display: inline-block;
		}
		h4 {
			font-size: 1.2rem;
			margin-top: 0;
		}
		small {
			display: block;
			color: rgba(0, 0, 0, 0.5);
		}
	}
	
}
@media (min-width: 56em) {
	.about-me {
		.part {
			text-align: left;
		}
		.part:not(.reverse) {
			img {
				float: left;
			}
			.aside {
				margin-left: 400px;
			}
		}
		.reverse {
			img {
				float: right;
			}
			.aside {
				margin-right: 400px;
			}
		}
	}
}


.works {
	position: relative;
	overflow: hidden;
	.bg-img {
		background: url(/public/img/banner.png) center;
		background-size: cover;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		filter: blur(10px);
	}
	.grad {
		position: relative;
		z-index: 3;
		background: -moz-linear-gradient(-45deg,  rgba(46,204,113,0.5) 0%, rgba(230,126,34,0.5) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(46,204,113,0.5)), color-stop(100%,rgba(230,126,34,0.5))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(46,204,113,0.5) 0%,rgba(230,126,34,0.5) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(46,204,113,0.5) 0%,rgba(230,126,34,0.5) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(46,204,113,0.5) 0%,rgba(230,126,34,0.5) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(46,204,113,0.5) 0%,rgba(230,126,34,0.5) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332ecc71', endColorstr='#33e67e22',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.title span {
		border: 1px solid #fff;
		color: #fff;
	}
	.home-content {
		position: relative;
		padding: 5rem 0;
		.next, .prev {
			font-size: 1.3rem;
			position: absolute;
			top: 15rem;
			color: rgba(236, 240, 241, 0.5);
			cursor: pointer;
			&:hover {
				color: rgba(255,255,255,0.95);
			}
		}
		.next {
			right: -3rem;
		}
		.prev {
			left: -3rem;
		}
	}
	.part {
		overflow: hidden;
		width: 100%;
		padding-bottom: 1rem;
		margin-bottom: 2rem;
		position: relative;
		#scroller {
			width: 920px;
			height: 100%;
			padding: 0;
			cursor: -webkit-grab;
			&:active {
				cursor: -webkit-grabbing;
			}
		}
		ul {
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 5px;
			overflow: hidden;
		}
		li {
			float: left;
			width: 220px;
			margin: 0 5px;
			padding: 5px 5px 10px;
			background: #ECF0F1;
			border-radius: 3px;
			box-shadow: 0 0 5px rgba(0,0,0,0.1);
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		img {
			width: 220px;
			height: 150px;
			margin: 0;
			border-radius: 0;
		}
		span, small {
			display: block;
			line-height: 1;
			text-align: left;
		}
		span {
			font-size: 1rem;
			padding: 1rem 0 0.4rem 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		small {
			font-size: 0.7rem;
		}
	}
}
.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 9999;
	height: 4px;
	left: 5px;
	right: 5px;
	bottom: 2px;
	overflow: hidden;
}
.iScrollIndicator {
	position: absolute;
	background: rgba(0,0,0,0.2);
	height: 4px;
	border-radius: 2px;
	&:hover,
	&:active {
		cursor: pointer;
		background: rgba(0,0,0,0.5);
	}
}

.contact {
	.title span {
		border: 1px solid rgba(0, 0, 0, 0.25);
		color: rgba(0, 0, 0, 0.25);
		padding: 5px 5px 5px 3px;
	}
	.part h4 {
		font-size: 1.2rem;
		margin: 0 0 1rem;
	}
	.elsewhere {
		-webkit-user-select: none;
		a {
			font-size: 2rem;
			color: #1ABC9C;
			margin: 0 8px;
			&:hover {
				color: #F39C12;
			}
		}
	}
}

@-webkit-keyframes cloudFrowardAnim {
	0%, 100% {
		background-position: 0 0;
	}
	50% {
		background-position: 1864px 0;
	}
}
@-webkit-keyframes cloudBackwardAnim {
	0%, 100% {
		background-position: 0 0;
	}
	50% {
		background-position: -1864px 0;
	}
}
.home-footer {
	position: relative;
	background: url(/public/img/pat.png) 0 0 #fff;
	.grad {
		background: -moz-linear-gradient(top, rgba(52,152,219,0.2) 0%, rgba(231,76,60,0.19) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,152,219,0.2)), color-stop(100%,rgba(231,76,60,0.19))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(52,152,219,0.2) 0%,rgba(231,76,60,0.19) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(52,152,219,0.2) 0%,rgba(231,76,60,0.19) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(52,152,219,0.2) 0%,rgba(231,76,60,0.19) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(52,152,219,0.2) 0%,rgba(231,76,60,0.19) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333498db', endColorstr='#30e74c3c',GradientType=0 ); /* IE6-9 */
	}
	.logo {
		display: inline-block;
		margin: 0 0 2rem;
		border-radius: 0;
		width: 180px;
		height: 122px
	}
	.abt-logo {
		font-size: 0.9rem;
		padding: 0;
	}
	.copy {
		font-size: 0.7rem;
	}
	.cloud-above,
	.cloud-below {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 94px;
	}
	.cloud-above {
		background: url(/public/img/cloud-above.png) 0 0;
		z-index: 3;
		-webkit-animation: cloudFrowardAnim 170s linear infinite;
	}
	.cloud-below {
		background: url(/public/img/cloud-below.png) 0 0;
		z-index: 2;
		-webkit-animation: cloudBackwardAnim 180s linear infinite;
	}
}
@media (min-width: 56em) {
	.home-footer {
		.abt-logo {
			padding: 0 7rem;
		}
	}
}
