<main role="main" class="emu-table">
  <section id="main-content" class="amethyst-midnightblue">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: visible;width: 140px; height: 162px;">
      <g transform="scale(0.4)">
        <!-- row 1 -->
        <polyline class="triangle delay-23" points="86.6,50 173.2,0 173.2,100 86.6,50"/>
        <polyline class="triangle delay-24" points="173.2,0 259.8,50 173.2,100 173.2,0"/>
        <!-- row 2 -->
        <polyline class="triangle delay-21" points="0,100 86.6,50 86.6,150 0,100"/>
        <polyline class="triangle delay-22" points="86.6,50 173.2,100 86.6,150 86.6,50"/>
        <polyline class="triangle delay-6" points="173.2,100 259.8,50 259.8,150 173.2,100"/>
        <polyline class="triangle delay-7" points="259.8,50 346.4,100 259.8,150 259.8,50"/>
        <!-- row 3 -->
        <polyline class="triangle delay-20" points="0,100 86.6,150 0,200 0,100"/>
        <polyline class="triangle delay-4" points="86.6,150 173.2,100 173.2,200 86.6,150"/>
        <polyline class="triangle delay-5" points="173.2,100 259.8,150 173.2,200 173.2,100"/>
        <polyline class="triangle delay-8" points="259.8,150 346.4,100 346.4,200 259.8,150"/>
        <!-- row 4 -->
        <polyline class="triangle delay-19" points="0,200 86.6,150 86.6,250 0,200"/>
        <polyline class="triangle upper-v delay-3" points="86.6,150 173.2,200 86.6,250 86.6,150"/>
        <polyline class="triangle upper-v" points="173.2,200 259.8,150 259.8,250 173.2,200"/>
        <polyline class="triangle delay-9" points="259.8,150 346.4,200 259.8,250 259.8,150"/>
        <!-- row 5 -->
        <polyline class="triangle delay-18" points="0,200 86.6,250 0,300 0,200"/>
        <polyline class="triangle lower-v delay-2" points="86.6,250 173.2,200 173.2,300 86.6,250"/>
        <polyline class="triangle lower-v delay-1" points="173.2,200 259.8,250 173.2,300 173.2,200"/>
        <polyline class="triangle delay-10" points="259.8,250 346.4,200 346.4,300 259.8,250"/>
        <!-- row 6 -->
        <polyline class="triangle delay-16" points="0,300 86.6,250 86.6,350 0,300"/>
        <polyline class="triangle delay-15" points="86.6,250 173.2,300 86.6,350 86.6,250"/>
        <polyline class="triangle delay-12" points="173.2,300 259.8,250 259.8,350 173.2,300"/>
        <polyline class="triangle delay-11" points="259.8,250 346.4,300 259.8,350 259.8,250"/>
        <!-- row 7 -->
        <polyline class="triangle delay-14" points="86.6,350 173.2,300 173.2,400 86.6,350"/>
        <polyline class="triangle delay-13" points="173.2,300 259.8,350 173.2,400 173.2,300"/>
      </g>
    </svg>

    <h1>VIJAY DEV</h1>
    <p>UI & front-end developer</p>
  </section>
</main>