<div class="part" id="wrapper">
  <div id="scroller">
    <ul>
      <li>
        <a href="https://dribbble.com/shots/1808773-The-Trip-A-Skewed-Css3-Gallery">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/1808773/the_trip_-_a_skewed_css3_gallery_1x.jpg" alt="">
        </a>
        <span>The Trip - A Skewed Css3 Gallery</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/1682790-Watermark-logo">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/1682790/clean_blur_hd_background_by_speetix-d5zpor8_03_1x.png" alt="">
        </a>
        <span>Watermark logo</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/1265443-GDG-Trivandrum">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/1265443/gdg-tvm.png" alt="">
        </a>
        <span>GDG Trivandrum</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/1204756--logo">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/1204756/_.png" alt="">
        </a>
        <span>ϑ logo</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/849745-KD-Company-v1">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/849745/kd-company-v1.png" alt="">
        </a>
        <span>KD Company</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/649368-Coming-Soon">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/649368/coming_soon.png" alt="">
        </a>
        <span>Coming Soon</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/647249-HTML5-Sessions">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/647249/html5_sessions.png" alt="">
        </a>
        <span>HTML5 Sessions</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/641419-Logo-for-myself-with-golden-ratio">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/641419/logo.png" alt="">
        </a>
        <span>Logo for myself, with golden ratio</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/600245-Cloud-footer">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/600245/cloud2.png" alt="">
        </a>
        <span>Cloud - footer</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/600243-Cloud-home">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/600243/cloud1.png" alt="">
        </a>
        <span>Cloud - home</span>
        <small>Posted on Dribbble</small>
      </li>
      <li>
        <a href="https://dribbble.com/shots/600241-School-home">
          <img src="https://d13yacurqjgara.cloudfront.net/users/10900/screenshots/600241/school.png" alt="">
        </a>
        <span>School - home</span>
        <small>Posted on Dribbble</small>
      </li>
    </ul>
  </div>
</div>
<span id="prev" class="icon-left prev"></span>
<span id="next" class="icon-right next"></span>
