@mixin transition($trans) {
	-webkit-transition: $trans;
	-moz-transition: $trans;
	-ms-transition: $trans;
	transition: $trans;
}

@mixin transition-transform($duration, $timefunction) {
	-webkit-transition: -webkit-transform $duration $timefunction;
	-moz-transition: -moz-transform $duration $timefunction;
	-ms-transition: -ms-transform $duration $timefunction;
	transition: transform $duration $timefunction;
}

@mixin animation($anim) {
	-webkit-animation: $anim;
	-moz-animation: $anim;
	-ms-animation: $anim;
	animation: $anim;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin user-select($select) {
	-webkit-user-select: $select;
	-moz-user-select: $select;
	-ms-user-select: $select;
	user-select: $select;
}
