.container {
	max-width: initial;
}

.sidebar-toggle {
	background: transparent;
	z-index: 10;
}

.sidebar-toggle,
.sidebar {
	@include transition-transform(0.3s, cubic-bezier(0.165, 0.840, 0.440, 1.000));
}

.overlay-mask {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9;
	background: rgba(32, 32, 32, 0.5);
	@include transition(opacity 0.3s ease-in-out);
}

#sidebar-checkbox:checked + .overlay-mask,
#sidebar-checkbox:checked ~ .overlay-mask {
	display: block;
}

.sidebar a {
	padding: 1rem;
	color: $flink;
	&:hover {
		color: $fhover;
	}
	&:before {
		margin: 0 0.5rem 0 0;
	}
}

.sidebar-item {
	padding: 2rem 1rem;
}

.highlight {
	border: 1px solid $gray1;
}

.page,
.post {
	margin-bottom: 3em;
}

.related {
	border-top: 1px solid $gray1;
}

.related-posts {
	display: table;
	width: 100%;
	table-layout: fixed;
	li {
		display: table-cell;
		a:hover {
			color: $hover;
		}
	}
	small {
		display: block;
	}
}

.masthead {
	padding: 0.5rem 0;
	margin-bottom: 1rem;
}

.masthead-title {
	overflow: hidden;
	text-align: left;
	height: 42px;
	.logo-link {
		text-decoration: none;
		display: inline-block;
	}
	.logo.inner {
		float: left;
	}
	.sperate {
		float: left;
		border-right: 1px solid $gray2;
		height: 43px;
		padding-left: 10px;
	}
	.title,
	.tagline {
		display: block;
		margin-left: 84px;
		white-space: nowrap;
	}
	.title {
		font-family: 'Lato';
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 0.15rem;
		font-size: 1.5rem;
		color: $gray5;
		margin-top: -2px;
	}
	.tagline {
		font-size: 1rem;
		color: $gray6;
		letter-spacing: 0;
	}
}
@media (min-width: 38em) {
	.masthead-title {
		.sperate {
			padding-left: 18px;
		}
		.title,
		.tagline {
			margin-left: 101px;
		}
		.title {
			font-size: 1.3rem;
		}
		.tagline {
			font-size: 0.8rem;
		}
	}
}
