$link: #1768f5;
$hover: #f51b47;

$gray1: #efefef;
$gray2: #e0e0e0;
$gray3: #bbb;
$gray4: #aaa;
$gray5: #303030;
$gray6: #c0c0c0;

$logo: "/public/img/logo.svg";
$logoInvr: "/public/img/logo-sidebar-invr.png";
$pat: "/public/img/pat.png";
$banner: "/public/img/banner.png";
$cloud1: "/public/img/cloud-above.png";
$cloud2: "/public/img/cloud-below.png";