---
layout: page
title: Blog
---

<section class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <header>
      <h1 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>
      <p class="post-meta">
        <time class="icon-calendar" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
        <span class="icon-folder post-cat">
          {% for cat in post.categories %}
            <label>{{ cat }}</label>
          {% endfor %}
        </span>
        <span class="icon-clock read-time">
          {% capture readtime %}{{ post.content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}
          {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %}m read
        </span>
        <a class="icon-comment" href="">2 comments</a>
      </p>
    </header>
    
    <p class="post-excerpt">{{ post.excerpt | strip_html }}&hellip; (<a href="{{ post.url }}">Read More</a>)</p>

    <footer>
      <small class="icon-category">
        {% for tag in post.tags %}
          <label>{{ tag }}</label>
        {% endfor %}
      </small>
    </footer>
  </article>
  {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-item older" href="/blog/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    
    {% if paginator.next_page %}
      <a class="pagination-item newer" href="/blog/page{{ paginator.next_page }}">Newer</a>
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  </div>
{% endif %}
