<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="layout-reverse sidebar-overlay">
    
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      {% if page.title == "Home" %}
        {{ content }}
      {% else %}
      
        <div class="masthead">
          <div class="container">
            <h3 class="masthead-title">
              <a href="/" title="Home" class="logo-link">
                <span class="logo inner">
                  <img id="logo-inner" class="nor" src="/public/img/logo.svg" title="logo">
                </span>
                <span class="sperate"></span>
                <span class="title">{{ site.title }}</span>
                <span class="tagline">{{ site.tagline }}</span>
              </a>
            </h3>
          </div>
        </div>
        
        {% if page.issub %}
          {{ content }}
        {% else %}
          <div class="container content">
            {{ content }}
          </div>
        {% endif %}
        
      {% endif %}

      {% include footer.html %}
    </div>
    
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  </body>
</html>