<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="layout-reverse">

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      {% if page.title == "Home" %}
        {{ content }}
      {% else %}
        <div class="masthead">
          <div class="grad">
            <div class="container" id="main-content">

              <a href="/" title="Home">
                <img src="/public/img/logo.png" alt="Logo" class="logo">
                <h1 class="name">{{ site.title }}</h1>
              </a>
              <p class="tagline">{{ site.tagline }}</p>

              <div class="elsewhere">
                <a href="" class="icon-twitter"></a>
                <a href="" class="icon-linkedin"></a>
                <a href="" class="icon-dribbble"></a>
                <a href="" class="icon-github"></a>
              </div>

              <div class="cloud-above"></div>
              <div class="cloud-below"></div>
            </div>
          </div>
        </div>

        <div class="container content">
          {{ content }}
        </div>
      {% endif %}
    </div>
    
    {% include sidebar.html %}
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  </body>
</html>
