---
layout: default
---

<!-- <div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div> -->

<article class="post">
  <header>
    <h1 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <p class="post-meta">
      <time class="icon-calendar" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
      <span class="icon-folder post-cat">
      </span>
      <span class="icon-clock read-time">
      </span>
      <a class="icon-comment" href="">2 comments</a>
    </p>
  </header>
  
  {{ content }}

  <footer>
    <small class="icon-category">
    </small>
  </footer>
</article>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
