---
layout: default
pageType: Blog
---

{% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}
<article class="post">
  <header>
    {% if page.banner %}
      <a href="{{ page.banner_link }}" target="_blank"><img src="{{ page.banner }}" alt="{{ page.title }}"></a>
    {% endif %}
    <p class="post-tagline">{{ page.tagline }}</p>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <time class="icon-calendar" datetime="{{ post.date }}">{{ page.date | date_to_string }}</time>
      <span class="icon-folder post-cat">{% for cat in page.categories %}<label>{{ cat }}</label>{% endfor %}</span>
      <span class="icon-clock read-time">{% if readtime == '0' %}&lt; 1{% else %}{{ readtime }}{% endif %}m read</span>
      <a class="icon-comment" href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.path | split:'/' | last | cgi_escape }}">0</a>
    </p>
    <span class="header-close"></span>
  </header>

  {{ content }}

  <footer>
    <small class="icon-category">{% for tag in page.tags %}<label>{{ tag }}</label> {% endfor %}</small>
    <ul class="share-blog">
      <li class="on-social">Share:</li>
      <li><a class="icon-facebook" href="http://www.facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&t={{ page.title | cgi_escape }}" rel="nofollow" target="_blank"></a></li>
      <li><a class="icon-twitter" href="http://twitter.com/share?text={{ page.title | cgi_escape }}&url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&via=vijaydevin" rel="nofollow" target="_blank"></a></li>
      <li><a class="icon-gplus" href="http://plus.google.com/share?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank"></a></li>
      <li><a class="icon-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&title={{ page.title | cgi_escape }}" rel="nofollow" target="_blank"></a></li>
    </ul>
    <img class="post-logo" src="/public/img/logo-wm.svg" title="logo">
  </footer>
</article>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<div id="disqus_thread"></div>
